<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>            
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">Fecha</th>
            <th scope="col">Equipo actual</th>
        </tr>
        
    </thead>  
    <tbody> 
                              
            <app-task *ngFor="let task of tasks" [task]="task" >
                
            </app-task>
    </tbody>
    <!--<button class="btn btn-primary">
            Show
        </button>
        <button class="btn btn-danger">
            Delete
        </button> 
        -->
</table>

