<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>            
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Lugar de Nacimiento</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Equipo actual</th>
            <th scope="col">Acciones</th>
        </tr>
        
    </thead>  
    <tbody> 

        <tr *ngFor="let task of tasks">
                <td>{{task.Nombre}}</td>
                <td>{{task.Apellido}}</td>
                <td>{{task.Nacimiento}}</td>
                <td>{{task.Fecha}}</td>
                <td>{{task.Equipo}}</td>
        <td>
                <app-task  [task]="task" > </app-task>
        </td>     
        </tr>
         
                              
        
                
         
    </tbody>
    <!--<button class="btn btn-primary">
            Show
        </button>
        <button class="btn btn-danger">
            Delete
        </button> 
        -->
</table>

