<tr>
                <button class="btn btn-primary">
                                Edit
                            </button>
                            <button class="btn btn-danger" (click)="deleteTask(task)">
                                Delete
                            </button> 
        <th scope="row">{{task.Nombre}}</th>
        <th scope="row">{{task.Apellido}}</th>
        <th scope="row">{{task.Nacimiento}}</th>
        <th scope="row">{{task.Fecha}}</th>
        <th scope="row">{{task.Equipo}}</th>
</tr>
                    
                        
