<table class="table table-hover">
        <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Nacimiento</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Equipo actual</th>
                </tr>
                <tbody>                    
                        <tr>
                                <th scope="row">{{task.Nombre}}</th>
                                <th scope="row">{{task.Apellido}}</th>
                                <th scope="row">{{task.Nacimiento}}</th>
                                <th scope="row">{{task.Fecha}}</th>
                                <th scope="row">{{task.Equipo}}</th>
                                
                              </tr>
                    
                        
                </tbody>
        
</table>